body, html, input {
  font-family: sans-serif;
  font-size: 11pt;

}

input {
    padding: 6px;
}

form {
  margin: 20px 0;
}

form input, form label {
    vertical-align: middle;
}

div.plot {
    margin: 10px 0;
}

#form-tz input[type="text"] {
    width: 3em;
}

form label {
    width: 15em;
    display: inline-block;
}
